@import "../../styles/Colors.scss";
@import "../../styles/Layout.scss";

@mixin center {
    text-align: center;
}

.ProductHeader {
    @include center;
    color: $wine-color;
}

.ProductText {
    @include center;
}

.ProductLink {
    @include center;
    color: $wine-color;
    text-decoration: none;
}
