@import '../../styles/Colors.scss';

.TitleContainer {
    padding: 20px 0;
    background-color: $wine-color;
    text-align: center;
    color: $white;
}

.ImageItem {
    display: flex;
    justify-content: center;
}

.ImageContainer {
    max-width: 400px;
    img {
        width: 100%;
        height: auto;
    }
}

.ProductInfo {
    margin-top: 100px;
}

.Description {
    font-size: 20px;
}

.Title {
    color: $wine-color;
}
.ProductSummary {
    position: relative;
}

.AddToCart {
    position: absolute;
    left: 0;
    bottom: 40px;
    .Add {
        color: $white;
        background-color: $wine-color;
    }
}