.Resume{
    background: #eee;
    margin-top: 15px;
    text-align: center;
    padding: 15px 0;
}

.FormContainer {
    margin: 20px 0;
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;
}